


<div class="container">
  <ul>
    <li *ngFor="let employee of employees ">

      <div class="item">
        <app-tree (expandEvent)="expandClick($event)" > </app-tree>


        <div class="item__info">

          <div class="name">{{employee.surname }} {{employee.first_name }} {{employee.patronymic }}</div>
          <div class="position">{{employee.position }}</div>
        </div>


      </div>
      <app-node *ngIf="expanded"  [id_parent]="employee.id_employee"></app-node>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
